<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- 各项权限的赋予 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 拍照 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 添加短信服务發送 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 震動 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 往sdCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在sdCard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.ext.activity.user.MainFocus"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.GoodsDetails"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.MainPage"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ext.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.ext.activity.activities.ActivityDetail"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
      
        </activity>
        <activity
            android:name="com.example.ext.fragment.activities.ActivityRecruitment"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="com.example.ext.activity.activities.ActivityRelease"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
         
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.CampuMap"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.LandscapeMap"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.CampusGround"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.campus.CampusGroundDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.CampusInformation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.AddCampusGround"
            android:label="@string/app_name"
            android:theme="@style/ShareCommentStyleBottom" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.AddGoods"
            android:label="@string/app_name"
            android:theme="@style/ShareCommentStyleBottom" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.InformationGround"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.SchoolInformation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.CampusInformationComment"
            android:label="@string/app_name"
            android:theme="@style/ShareCommentStyleBottom" >
        </activity>
        
        <activity
            android:name="com.example.ext.activity.campus.SeceneryAlbum"
            android:label="@string/app_name" >
              
        </activity>
        <activity
            android:name="com.example.ext.activity.campus.SeceneryAlbumDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.campus.CampusInformationDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.campus.LandscapeWall"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.LoginPage"
            android:label="@string/app_name" >
            
        </activity>
        <activity
              android:name="com.example.ext.activity.user.MyCollection"
            android:label="@string/app_name" >  
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyCurriculum"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyFocus"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyInformation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyShare"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.PersonalCenter"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyInformationUpdate"
            android:label="@string/app_name"
            android:theme="@style/ShareCommentStyleBottom" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.RegisterPage"
            android:label="@string/app_name" >          
        </activity>
        <activity
            android:name="com.example.ext.fragment.share.SharingCenter"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.activities.ActivitySharing"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.share.SharingCenterDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.share.SharingPicture"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.share.SharingRelease"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.share.SharingWords"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name="com.example.ext.activity.share.ShareComment"
            android:label="@string/app_name"
            android:theme="@style/ShareCommentStyleBottom" >
        </activity>
       <activity
            android:name="com.example.ext.common.photo.dophoto.PhotoMainActivity"
            android:label="@string/app_name" >      
                
        </activity>
        <activity
            android:name="com.example.ext.common.photo.dophoto.GalleryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.common.photo.dophoto.AlbumActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.ext.common.photo.dophoto.ShowAllPhoto"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.ext.common.photo.dophoto.ImageFile"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.ext.activity.user.MyGoods"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.trade.Trade"
            android:label="@string/app_name" >
           
        </activity>
         <activity
            android:name="com.example.ext.activity.trade.TradeLost"
            android:label="@string/app_name" >
             
        </activity>
        <activity
            android:name="com.example.ext.activity.trade.Lostfround"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.trade.TradeDetail"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.ext.activity.trade.TradeRelease"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.trade.GoodsRelease"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.ext.activity.trade.ItemsRelease"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.PersonalcenterAccess"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.user.MyFriends"
            android:label="@string/app_name" >
             
        </activity>
        <activity
            android:name="com.example.ext.activity.user.AddfriendApplication"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.fragment.Homepage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.activity.system.SystemMessage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.common.qrCode.CaptureActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ext.common.imageCarousel.adbanner.BaseWebActivity"
              android:label="@string/app_name" >
        </activity>
        
        <!-- 测试 -->
        <activity
            android:name="com.example.ext.fragment.DongTaiFragment"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        
        <activity
            android:name="com.example.ext.activity.activities.Test"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            
        </activity>
        
    </application>

</manifest>